@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: azure;
}
canvas {
  max-width: 380px;
  max-height: 300px;
  margin: auto;
  padding-top: 10px;
}
h3 {
  text-align: center;
}
